<template>
  <div id="home">
      <section>
      <product 
      :products="products"></product>
      </section>        
  </div>
</template>

<script>

import Product from './Product.vue'


export default {
  components:{
    'product': Product,
  },

  
    name: 'Home',
  data(){
    return{
      
      products: [
        {
          title: 'اکسسوری',
          id: '1',
          shop: 'خرید',
          src: require('../assets/image/2-3.png')
        },
        {
          title: 'کفش',
          id: '2',
          shop: 'خرید',
          src: require('../assets/image/2-1.png')
        },
        {
          title: 'ساعت',
          id: '3',
          shop: 'خرید',
          src: require('../assets/image/2-2.png')
        }
      ]
      } 
    }
  ,
  
  
}

</script>
    

<style>

 
 
</style>
