<template>
   <div class="wrapper">

    <splide :options="options" class="parent-img max-w-full xl:w-full">
     <splide-slide class="wrapper-img md:flex md:flex-col  xl:flex " >
      <img  class="img xl:w-2/6 md:w-40 justify-self-center xl:w-1/2 md:p-0" src="../assets/image/perfiom.png">
      <div class="content flex md:p-0 flex-col lg:w-5/12 items-start xl:w-1/5"><h2 class="header-content  text-2xl lg:text-sm">آرایشی و بهداشتی</h2><p class="lg:text-xs ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis</p></div>
    </splide-slide>
    
     <splide-slide class="wrapper-img md:flex md:flex-col ">
      <img  class="img md:p-0 md:w-40 justify-self-center xl:w-2/6"  src="../assets/image/shoes.png">
      <div class="content md:p-0 flex flex-col items-start lg:w-5/12 xl:w-1/5"><h2 class="header-content  text-2xl lg:text-sm">پوشاک</h2><p class="lg:text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis laboriosam </p></div>
    </splide-slide>
      
    </splide>
  </div>
</template>

<script>
import { Splide, SplideSlide } from '@splidejs/vue-splide';
import '@splidejs/splide/dist/css/themes/splide-default.min.css';
import '@splidejs/splide/dist/css/themes/splide-sea-green.min.css';
import '@splidejs/splide/dist/css/themes/splide-skyblue.min.css';

export default {
   data() {
      return {
        options: {
          rewind : true,
          width  : 1200,
          gap    : '1rem',
          height: 450,
          
          
          },
        
       
      };
    },
    prop:{
      images:{
        type: Array,
        required: true
      }
    },
  components: {
    Splide,
    SplideSlide,
  },
  name: 'Newslider',
  props: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  $color: #20b2aa;
  .splide {
    &__autoplay {
      margin-top: 1em;
      text-align: center;
    }
    
  }
  .wrapper{
    background-color: #eee;
    display: flex;
    justify-content: center;
  }
  .parent-img{
    
    

  }
  .wrapper-img{
    width: 600px;
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .img{
    
    margin-left: 7rem;
    margin-right: 2rem;
  }
  .content{
    margin-left: 2rem;
    
    
  }
  
</style>