<template>
  <div class="product" >

   <div   class="product-inner flex justify-center m-auto w-4/5 md:flex md:flex-col">
       <div class="paroduct-img mx-11 my-4 md:flex md:flex-col md:justify-center" v-for="product in products" :key="product.id">
         <img :src="product.src" alt="" class="">
       <div class="wrapper-title font-bold text-center my-6">
          <h2>{{ product.title }}</h2>
       </div>
       <div class="wrapper-btn flex justify-center">
         <button @click="goShop" class="bg-sliderblue py-2 px-4 text-gray-50 rounded">{{ product.shop }}</button>
       </div>
       </div>
       <div class="product-text ">
         
       </div>
       <div class="product-btn">
           
       </div>
  </div>
    
   
  </div>
</template>

<script>

export default {
  name: 'Product',
  data(){
    return{
      
    }
  },
  props:{
    products: {
      type : Array,
      required: true
    }
  },
  methods:{
    goShop(){
      this.$router.push('/shop')
    }
    
  },
  
  
}
</script>

<style>
@import '../index.css'


</style>
