<template>
  <div class="nested-menue" >
   <section class="products">
     <div class="product">
       <h3 class="product-header">product1</h3>
       <div   class="product-inner flex justify-center m-auto w-4/5 md:flex md:flex-col">
       <div class="paroduct-img mx-11 my-4 md:flex md:flex-col md:justify-center" v-for="product in products" :key="product.id">
         <img :src="product.src" :alt="product.title" class="">
       <div class="wrapper-title font-bold text-center my-6">
          <h2>{{ product.title }}</h2>
       </div>
       <div class="wrapper-btn flex justify-center">
<div class="cart">
         <button class="cart-button">-</button>
         <span class="cart-quantity">{{ product.quantity }}</span>
         <button class="cart-button">+</button>

       </div>       </div>
       </div>
       <div class="product-text ">
         
       </div>
       <div class="product-btn">
           
       </div>
  </div>
  <!------->
       <div   class="product-inner flex justify-center m-auto w-4/5 md:flex md:flex-col">
       <div class="paroduct-img mx-11 my-4 md:flex md:flex-col md:justify-center" v-for="product in products2" :key="product.id">
         <img :src="product.src" :alt="product.title" class="">
       <div class="wrapper-title font-bold text-center my-6">
          <h2>{{ product.title }}</h2>
       </div>
       <div class="wrapper-btn flex justify-center">
<div class="cart">
         <button class="cart-button">-</button>
         <span class="cart-quantity">{{ product.quantity }}</span>
         <button class="cart-button">+</button>

       </div> 
      </div>
       </div>
       <div class="product-text ">
         
       </div>
       <div class="product-btn">
           
       </div>
  </div>
       <p class="product-desc"></p>
       <div class="cart">
         <button class="cart-button">+</button>
         <span class="cart-quantity">0</span>
         <button class="cart-button">-</button>

       </div>
     </div>
   </section>
    
   
  </div>
</template>

<script>

export default {
  name: 'Shop',
  data(){
    return{
      products: [
        {
          title: 'پوشاک',
          id: '1',
          shop: 'خرید',
          src: require('../assets/image/image14.png'),
          quantity: 0
        },
        {
          title: 'ساعت',
          id: '2',
          shop: 'خرید',
          src: require('../assets/image/image12.png'),
          quantity: 0
        },
        {
          title: 'اکسسوری',
          id: '3',
          shop: 'خرید',
          src: require('../assets/image/image13.png'),
          quantity: 0
        },
        
      ],
       products2: [
        {
          title: 'کفش',
          id: '1',
          shop: 'خرید',
          src: require('../assets/image/image10.png'),
          quantity: 0
        },
        {
          title: 'پوشاک',
          id: '2',
          shop: 'خرید',
          src: require('../assets/image/image11.png'),
          quantity: 0
        },
        {
          title: 'پوشاک',
          id: '3',
          shop: 'خرید',
          src: require('../assets/image/image15.png'),
          quantity: 0
        },
        
      ],
      
    }
  },
  // computed: {
  //   cart:function(){
  //     return this.products.filter(product => product.quantity> 0)
  //   },
  //  totalquantity:function (){
  //     return this.products.reduce(
  //       (total,product)=> total + product.quantity,0
  //     )
  //   }
  // }
  
}
</script>

<style>
    @import '../assets/css/NestedMenu.css';
</style>
