<template>
  <div id="app">
      <navbar></navbar>
      <admin></admin>           <!-----admin----->
      <!-- <slider :images="images" >  
        </slider> -->
        <newslider></newslider>

        <router-view></router-view>
        
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'
import Admin from './components/Admin.vue'
import Newslider from './components/Newslider.vue'


export default {
  components:{
    'navbar': Navbar,
    'newslider': Newslider,
    'admin': Admin,
    
  },

  name: 'App',
  data(){
    return{
      
      
      // images: [
      //      require('../src/image/lamp.png'),
      //      require('../src/image/shoes.png'),
      //      require('../src/image/perfiom.png')
      //   ]
      products: [
        {
          title: 'Accessories',
          id: '1',
          bgtext: '',
          src: require('./assets/image/2-1.png')
        },
        {
          title: 'Shoes',
          id: '2',
          bgtext: '',
          src: require('./assets/image/2-2.png')
        },
        {
          title: 'Watches',
          id: '3',
          bgtext: '',
          src: require('./assets/image/2-3.png')
        }
      ]
      } 
    }
  ,
  
  
}

</script>
    

<style>

 
 
</style>
